<div class="page-header">
    <h2>WomEngineers Day 2015 T-Shirt Contest</h2>
    <div class="well well-lg" style="background-color: #B9E1E2">
        <p>
            The design with the most likes and shares on social media will be featured on the WomEngineers Day 2015 T-Shirts!
        </p>
        <p>
            The winner will receive two Neyland Stadium box seat tickets for a 2015 football game as guests of Dr. Wayne Davis, Dean of UT's College of Engineering.
        </p>
        <p><a href="#/detailsrules">View Details &amp; Rules Here</a></p>
    </div>
</div>

<h3>Click the images below to view larger and vote!</h3>

<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="item in gallery.images | orderBy: item.datePosted">
      <a class="thumbnail" href="#/{{item.id}}">
        <img class="img-responsive" ng-src="{{item.thumbnailSource}}" alt="" width="300" height="300" >
      </a>
    </div>
</div>