<div class="page-header">
    <h2>WomEngineers Day 2015 T-Shirt Contest</h2>
    <div class="well well-lg" style="background-color: #B9E1E2">
        <p>
            <strong>The design with the most likes and shares on social media will be featured on the WomEngineers Day 2015 T-Shirts!</strong>
        </p>
        <p>
            <strong>The winner will receive two Neyland Stadium box seat tickets for a 2015 football game as guests of Dr. Wayne Davis, Dean of UT's College of Engineering.</strong>
        </p>
        <p><strong><a href="#/detailsrules">View Details &amp; Rules Here</a></strong></p>
    </div>
    <p class="lead">Click the images below to view larger and vote!</p>
</div>



<div class="row">
    <div id="{{item.id}}" class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="item in images | orderBy: item.datePosted" ng-init="setSMB($index, item.id)">
      <a class="thumbnail" href="#/s/{{item.id}}">
        <img class="img-responsive" ng-src="{{item.thumbnailSource}}" alt="" width="300" height="300" >
      </a>
       <div class="well well-sm" style="height: 80px; text-align: center">
        <ul ng-social-buttons
             data-url="'http://news.mistinfo.com/'"
             data-title="'test'"
             data-description="'test2'"
             data-image="'http://s3.mistinfo.com/32/d8/32d8eab76f4c242f665bda66b5edc6c5.jpg'">
            <li class="ng-social-facebook">Facebook</li>
            <li class="ng-social-twitter">Twitter</li>
            <li class="ng-social-google-plus">Google+</li>
        </ul>

        <!-- <div class="smb-wrapper-tall">
            <div class="fb-like" data-href="{{baseURL}}/#/s/{{item.id}}" data-layout="box_count" data-action="like" data-show-faces="false" data-share="false"></div>
        </div>
        <div class="smb-wrapper-tall">
            <div class="fb-share-button" data-href="{{baseURL}}/#/s/{{item.id}}" data-layout="box_count"></div>
        </div> -->
        <!-- <div class="smb-wrapper-tall">
            <a class="twitter-share-button" data-url="{{baseURL}}/#/s/{{item.id}}" data-text="Check out this submission for the WomEngineers Day T-Shirt Contest! Go vote now!" data-hashtags="WomEngineersDay" data-count="vertical">Tweet</a>
        </div>
        <div class="smb-wrapper-tall">
            <div class="g-plusone" href="{{baseURL}}/#/s/{{item.id}}" data-size="tall"></div>
        </div> -->
      </div>
    </div>
</div>

