<div class="page-header">
    <h1>WomEngineers Day 2015 T-Shirt Contest</h1>
</div>

<p class="lead">
    The design with the most likes and shares will be featured on the WomEngineers Day 2015 guest T-Shirts!
</p>

<div class="row">
    <div class="col-lg-3 col-md-4 col-xs-6 thumb" ng-repeat="item in gallery.images | orderBy: item.datePosted">
      <a class="thumbnail" href="#/single/{{item.id}}">
        <img class="img-responsive" ng-src="{{item.thumbnailSource}}" alt="" width="300" height="300" >
      </a>
      <div class="well well-sm">
        <span class='st_facebook_large' displayText='Facebook'></span>
        <span class='st_twitter_large' displayText='Tweet'></span>
        <span class='st_googleplus_large' displayText='Google +'></span>
        <span class='st_fblike_large' displayText='Facebook Like'></span>
      </div>  
    </div>
</div>