<div class="row">
	<div class="col-md-7 single-image-big">
		<img class="img-responsive" ng-src="{{single.image.fullSource}}.png" alt="">
	</div>
	<div class="col-md-5 single-image-details">
		<h3>Submission #: {{single.image.id}}</h3>
		<h3>Submitted: {{single.image.datePosted}}</h3>

		<p><strong>Share and Tweet below to vote for this submission!</strong></p>

		<div class="well well-lg">
			<span class='st_twitter_large' displayText='Tweet'></span>
			<span class='st_googleplus_large' displayText='Google +'></span>
			<span class='st_facebook_large' displayText='Facebook'></span>
			<span class='st_fblike_large' displayText='Facebook Like'></span>

		</div>

	</div>

</div>
